@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
  --gradient:linear-gradient(#a3a8f0,#696fdd);
  --veryLight:hsl(240, 78%, 98%);
  --Light:hsl(234, 14%, 74%);
  --grayshBlue:hsl(233, 13%, 49%);
  --darkGrayshb: hsl(232, 13%, 33%);
}

  body {
    font-size: 15px;
    font-family:'Montserrat', sans-serif;
    margin:0;
    background-color: var(--veryLight);
  }
  .top-image {
    position:absolute;
    left: 79.5%;
    height: 75%;
    top:0;
  }
  .bottom-image {
    position: absolute;
    top:58%;
    bottom:0;
  }
  .pricing-container {
    margin: 5% 45% 3% 45%;
    width: 50%;
  }
  .toggle {
    display: flex;
    flex-direction: row;
  }
  .pricing-container h1 {
    color:var(--grayshBlue);
    font-size: 28px;
    margin-left: 18px;
  }
  .pricing-container p {
    color: var(--Light);
    margin-top: 2px 4px 0 4px;
    font-size: 14px;
  }
  .cards-container {
    display: flex;
    flex-direction: row;
    width:64%;
    margin: 0 20%;
  }
  .card {
    padding:5px 9px;
    text-align:center;
    width:40%;
    z-index: 1;
    height: 405px;
    background-color:white;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .second-card {
    position: relative;
    bottom:30px;
    height: 460px;
    background:linear-gradient(#a3a8f0  ,	#696fdd);
  }
  .card ul {
    list-style: none;
  }
  .card h2 {
    color:var(--darkGrayshb);
    font-size: 16px;
    margin-top:40px;
  }
  .price-text {
    font-size:46px;
    color:var(--darkGrayshb);
  }
  .details {
    color:var( --darkGrayshb);
    font-size: 14px;
    padding: 3px;
  }
  li {
    margin:2px 0 19px 0; 
  }
  button {
    background-color:#696fdd;
    border: none;
    color:var( --veryLight);
    font-family:'Montserrat', sans-serif;
    width: 96%;
    height: 40px;
    border-radius: 9px;
    font-size: 12px;
    letter-spacing:2px;
  }

  .toggle p {
    margin:5px 5px;
  }

  input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    left: -9000px;
    top: -9000px;
  }
  
  input[type="checkbox"].toggle + label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  input[type="checkbox"].toggle + label::before {
    content: "";
    width: 50px;
    opacity:0.4;
    height: 27px;
    background:linear-gradient(#a3a8f0  ,	#696fdd);
    border-radius:16px;
    margin-right: 4px;
    transition: background-color 200ms ease-in-out;
  }
  
  input[type="checkbox"].toggle + label::after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: "\2715";
    font-size: 8px;
    height: 240px;
    left: 3.2px;
    width: 19px;
    height: 19px;
    background-color:white;
    color: white;
    border-radius: 2em;
    transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
  }
  
  input[type="checkbox"].toggle:focus + label::before {
    outline:none;
  }
  
  input[type="checkbox"].toggle:checked + label::before {
    background-color: hsl(100, 70%, 90%);
  }
  
  input[type="checkbox"].toggle:checked + label::after {
    transform: translateX(140%);
    
  }

@media (max-width: 481px) {
  body {
    color:brown
  }
}